body {
    font-family: 'Sarabun', sans-serif;
    background-color: #202020;
    color: #C8C8C8;
}

header, main, nav, footer {
    text-align: center;
}

nav a {
    padding: 15px;
    padding-bottom: 4px;
    font-size: 1.8em;
    text-decoration: none;
    color: #C8C8C8;
}

nav a:hover {
    border-bottom: 2px orange solid;
    font-size: 2em;
    transition: .9s;
}

.current {
    padding: 0;
    border: 3px #C8C8C8 inset;
    color: #ffdb58;
    background-color: #989898;
}

figure {
    float: left;
}

#me {
    border-radius: 35px;
}

#welcomeText {
    padding-top: 10px;
    text-align: left;
}

footer {
    clear: left;
}

table {
    margin: 10px auto;
}

td {
    padding-right: 10px;
    font-size: 1.3em;
}

td strong {
    color: #bfcc7d;
}

#table-header {
    background-color: #4b4b00 ;
}

.table-row {
    background-color: #483a00


;
}

ul {
    width: 50%;
    margin: auto;
}

.hobby {
    color: #fff5cc
;
}

#contact {
    text-align: center;
}