#responses {
    display: none;
}

#container {
    display: flex; /* or inline-flex */
    justify-content: center;
    width: 100%;
}

#desc {
    font-size: 20px;
    margin-right: 50px;
    width: 30%;
}

.question {
    padding-bottom: 10px;
}

#q5 {
    display: inline;
}

#q5text {
    display: inline;
}

.talk {
    display: flex; /* or inline-flex */
    justify-content: flex-start;
}

/* Contain demo size */
.container {
    width: 400px;
}

.quote {
    background-color: #6b936a;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: #fff;
    margin: 0;
    padding: 20px;
    font-size: 20px;
}

/* Reset */
blockquote {
    padding: 0;
    margin: 0;
}


