h1 {
    color: yellow;
    text-align: center;
    font-family: lobster, cursive;
}

body {
    background-color: black;
}

.container {
    display: flex;
    justify-content: center;
    margin: 0px auto;
}

.caption {
    text-align: center;
    color: white;
    font-family: 'Indie Flower', cursive;
}

.seasons:hover {
    transform: scale(1.05, 1.05)
}

#spring {
    border-top-left-radius: 65px;
}

#summer {
    border-top-right-radius: 65px;
}

#fall {
    border-bottom-left-radius: 65px;
}

#winter {
    border-bottom-right-radius: 65px;
}